@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.woff') format('woff'),
       url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Medium.woff') format('woff'),
       url('../fonts/Lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{ font-family: "Lato"; font-weight: 300; }
body, input, textarea, select{ font-family: "Lato"; font-weight: normal; }

/*Top Menu */
  /* Navigation */
  .top-navigation-wrapper .top-navigation-container{ text-align: center; }
    .top-navigation-wrapper .top-navigation-container .top-navigation-left, 
    .top-navigation-wrapper .top-navigation-container .top-navigation-left *{ float: none; display: inline-block; vertical-align: middle; padding: 1px 0; }

      .top-navigation-wrapper .top-navigation-container .top-navigation-left .top-navigation-item{ margin: 0 36px; }
    
      .top-navigation-wrapper .top-navigation-container .top-navigation-left .top-navigation-item:nth-child(3), 
      .top-navigation-wrapper .top-navigation-container .top-navigation-left .top-navigation-item:nth-child(4){ display: none; }
        
        .top-navigation-wrapper .top-navigation-container .top-navigation-left .top-navigation-item a{ font-size: 16px; text-transform: uppercase; font-weight: 500; }

    .top-navigation-wrapper .top-navigation-container .top-navigation-right, 
    .top-navigation-wrapper .top-navigation-container .top-navigation-right *{ float: none; display: inline-block; vertical-align: middle; padding: 1px 0; }

      .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon{ margin: 0 36px; }

        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon a{ 
          opacity: 1; filter: alpha(opacity=100); display: inline-block;
          font: normal normal normal 12px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
          border:2px solid #fff; width: 24px; height: 24px; box-sizing: border-box; text-align: center; border-radius: 25px; 
        }
        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon a:hover{ opacity: 0.6; filter: alpha(opacity=60); }

        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon a:before{ display: inline-block; vertical-align: middle; }
        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon:nth-child(1) a:before{ content: "\f09a"; } /* Facebook */
        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon:nth-child(2) a:before{ content: "\f16d"; } /* Instagram */
        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon:nth-child(3) a:before{ content: "\f0e1"; } /* Linkedin */
        .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon:nth-child(4) a:before{ content: "\f16a"; } /* Youtube */
          .top-navigation-wrapper .top-navigation-container .top-navigation-right .social-icon a img{ width: 0; height: 100%; opacity: 0; margin-right: -3px; padding: 0; }
  
  /* Header */
  header.gdlr-header-wrapper{ }
    .gdlr-header-inner{}
      .gdlr-logo-wrapper{}
        .gdlr-logo-overlay{ display: none; }
        .gdlr-logo-container{ }
          .gdlr-logo{ margin: 0 0 0 55px; padding: 65px 0; max-width: 390px; float: none; display: inline-block; vertical-align: middle; }
          .logo-right-area{ float: none; display: inline-block; vertical-align: middle; margin:0; padding-left: 465px; }
            .header-block-area-wrapper{}
              .header-block-area.hide-mobile{ margin: 0; padding: 0; }
              .header-block-area:not(.hide-mobile){ display: none; }
              .header-block-area.hide-mobile .header-block-content div{ margin:5px 0; }
              .header-block-area.hide-mobile .header-block-content div a{ 
                color: #fff; font-size: 16px; font-weight: 500; padding: 7px 14px; display: block; width: 175px; box-sizing: border-box; text-align: center;
              }
              .header-block-area.hide-mobile .header-block-content div:nth-child(1) a{ background-color: #bd9c57;  }
              .header-block-area.hide-mobile .header-block-content div:nth-child(2) a{ background-color: #21576f;  }
              .header-block-area.hide-mobile .header-block-content div:nth-child(3){ display: none;  }
      .gdlr-navigation-wrapper{}
        .gdlr-navigation-container{}
          .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation{ margin:0; }
            
            .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation ul{ text-align: center; width: 100%; }
              .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation ul li{ float: none; padding:0 10px; margin: 31px 0px; display: inline-block; vertical-align: middle; }
                .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation ul li a{ font-size: 17px; font-weight: 500; padding: 0 5px; font-family: "Lato"; }
                .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation ul li.current-menu-item > a{ font-weight: 700; }
                .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation ul li.current-menu-item > a:before{ content: "•"; padding-right: 5px; }
                .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation ul li > a:after{ display: none; }

            .gdlr-navigation-wrapper .gdlr-navigation-container nav.gdlr-navigation i{ display: none; }


