@charset "utf-8";
@font-face {
  font-family: 'Lato-Thin';
  src: url('fonts/Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/Lato/Lato-Thin.woff') format('woff'), url('fonts/Lato/Lato-Thin.ttf') format('truetype'), url('fonts/Lato/Lato-Thin.svg#Lato-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Lato/Lato-Light.woff') format('woff'), url('fonts/Lato/Lato-Light.ttf') format('truetype'), url('fonts/Lato/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Lato/Lato-Regular.woff') format('woff'), url('fonts/Lato/Lato-Regular.ttf') format('truetype'), url('fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Medium';
  src: url('fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Lato/Lato-Medium.woff') format('woff'), url('fonts/Lato/Lato-Medium.ttf') format('truetype'), url('fonts/Lato/Lato-Medium.svg#Lato-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Lato/Lato-Bold.woff') format('woff'), url('fonts/Lato/Lato-Bold.ttf') format('truetype'), url('fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*******************************
            GLOBAL
*******************************/
body,
html,
div,
span,
a,
img,
ul,
li,
dl,
dt,
dd,
article,
section,
header,
p,
form,
fieldset,
button,
input,
iframe {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
img,
span,
:after,
:before {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
::-webkit-input-placeholder {
  color: #888888;
  font-weight: normal;
}
input:-moz-placeholder {
  color: #888888;
  font-weight: normal;
}
textarea:-moz-placeholder {
  color: #888888;
  font-weight: normal;
}
​ h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato-Light";
}
body,
input,
textarea,
select {
  font-family: "Lato-Regular";
}
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}
.btns {
  color: #fff;
  text-transform: uppercase;
}
.d-inline_v-top {
  display: inline-block;
  vertical-align: top;
}
.d-inline_v-middle {
  display: inline-block;
  vertical-align: middle;
}
.d-inline_v-bottom {
  display: inline-block;
  vertical-align: bottom;
}
.transit {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn {
  font-size: 16.5px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 4.5px 0;
  padding: 7px;
  box-sizing: border-box;
}
.btn._brown {
  background: #bd9c57;
}
.btn._dark-blue {
  background: #21576f;
}
.btn._light-blue {
  background: #57c6d0;
}
/*******************************
            STRUTUCTURE
*******************************/
body {
  margin: 0;
  padding: 0;
  border: 0;
  /*background: url('../images/psd/site_resp_01_home-8-1140.jpg') no-repeat center -16px*/
}
body * {
  font-family: 'Lato-Regular';
}
body main {
  width: 100%;
  /*opacity: 0.5;*/
}
body main:before {
  content: '';
  background-color: #57c6d0;
  width: 100%;
  height: 31px;
  position: absolute;
  left: 0;
  top: 0;
}
body main header {
  max-width: 1140px;
  margin: 0 auto;
}
body main header .top-navg {
  text-align: center;
}
body main header .top-navg > nav {
  display: inline-block;
  vertical-align: middle;
  height: 31px;
}
body main header .top-navg > nav a {
  color: #fff;
  font-size: 16.5px;
  line-height: 31px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
body main header .top-navg > nav.tl-navg a {
  margin: 0 45px;
}
body main header .top-navg > nav.tr-navg a {
  margin: 2px 37px;
  text-align: center;
  font-size: 12px;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 24px;
  box-sizing: border-box;
  line-height: 20px;
}
body main header .top-navg > nav.tr-navg a i {
  margin-top: -2px;
}
body main header .logo-info {
  font-size: 0;
}
body main header .logo-info h1 {
  display: inline-block;
  vertical-align: middle;
  padding: 64px 55px;
}
body main header .logo-info .li-navg {
  display: inline-block;
  vertical-align: middle;
  min-width: 173px;
  margin-left: calc(100% - 727px);
}
body main header .main-navg {
  text-align: center;
  padding: 21px 0px 38px;
}
body main header .main-navg a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16.5px;
  color: #57c6d0;
  text-transform: uppercase;
  margin: 0 13px;
}
body main header .main-navg a:hover {
  color: #bd9c57;
}
body main header .main-navg a.active {
  color: #bd9c57;
  font-family: 'Lato-Bold';
}
body main header .main-navg a.active:before {
  content: "•";
  margin: -6px 6px 0 0;
  display: inline-block;
  vertical-align: middle;
}
body main section.carrossel dl {
  position: relative;
}
body main section.carrossel dl dt {
  position: absolute;
  top: 4%;
  z-index: 999;
  width: 485px;
  height: 485px;
  z-index: 1;
}
body main section.carrossel dl dt:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0px;
  border-radius: 485px;
  opacity: .5;
}
body main section.carrossel dl dt h2 {
  font-size: 42.8px;
  line-height: 42.5px;
  color: #fff;
  text-transform: uppercase;
  z-index: 9;
  position: absolute;
  bottom: 76px;
  left: 15px;
  width: 540px;
}
body main section.carrossel dl dt h2 a {
  color: #fff;
}
body main section.carrossel dl dt h2 a span {
  display: inline;
}
body main section.carrossel dl dt h2 a span:after {
  content: 'saiba';
  display: inline-block;
  vertical-align: middle;
  text-transform: lowercase;
  color: #fff;
  font-size: 17.4px;
  margin: 0 10px -10px;
}
body main section.carrossel dl dt h2 a:after {
  content: '•';
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  margin: 0 -8px -12px;
}
body main section.carrossel dl dt h2.wrap-01 {
  width: 580px;
}
body main section.carrossel dl dt h2.wrap-02 {
  width: 450px;
}
body main section.carrossel dl dt h2.wrap-03 {
  width: 650px;
}
body main section.carrossel dl dt p {
  background-color: #57c6d0;
  font-size: 17.4px;
  line-height: 26px;
  color: #fff;
  z-index: 9;
  position: absolute;
  bottom: 28px;
  left: 15px;
  padding: 0 8px;
  white-space: nowrap;
}
body main section.carrossel dl dt p a {
  color: #fff;
}
body main section.carrossel dl.dl-light-blue dt:before {
  background-color: #57c6d0;
}
body main section.carrossel dl.dl-brown dt:before {
  background-color: #bd9c57;
}
body main section.carrossel dl._right dt {
  left: 50%;
}
body main section.carrossel dl._left dt {
  right: 50%;
}
body main section.carrossel .owl-controls {
  position: absolute;
  bottom: 10px;
  z-index: 9;
  text-align: center;
  width: 100%;
}
body main section.carrossel .owl-controls .owl-dot > span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body main section.content {
  padding: 34px 0 0;
}
body main section.content._blocks {
  text-align: center;
}
body main section.content h3 {
  font-size: 16.85px;
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  color: #bd9c57;
  position: relative;
  display: inline;
  margin: 0 auto;
}
body main section.content h3:before {
  content: '';
  border: 2px solid #bd9c57;
  border-radius: 10px;
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 3px 0;
}
body main section.content h3:after {
  content: '';
  background: #bd9c57;
  width: 6px;
  height: 2px;
  vertical-align: middle;
  margin: -3px 3px 0;
  position: absolute;
  left: -100%;
  width: 100%;
  z-index: 999;
  top: 10px;
}
body main section.content nav {
  padding: 37px 0 44px;
  font-size: 0;
}
body main section.content nav a {
  width: 210px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  padding: 11px;
  font-size: 20.9px;
  line-height: 20.9px;
}
body main section.content dl {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: left;
  margin: 0 16px 40px;
  overflow: hidden;
  font-size: 0;
  width: 355px;
}
body main section.content dl dt img {
  padding-bottom: 17px;
}
body main section.content dl dt h4,
body main section.content dl dt h4 * {
  font-size: 12.2px;
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  color: #57c6d0;
}
body main section.content dl dd p,
body main section.content dl dd p * {
  font-size: 12px;
  font-family: 'Lato-Medium';
  color: #21576f;
}
body main section.content._simulator {
  text-align: center;
}
body main section.content._simulator .container {
  max-width: 610px;
  margin: 0 auto;
}
body main section.content._simulator .container p {
  text-align: left;
  padding: 4px 0;
}
body main section.content._simulator .container p strong {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: #21576f;
}
body main section.content._simulator .container div {
  font-size: 0;
}
body main section.content._simulator .container div .timeline {
  width: 460px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
body main section.content._simulator .container div .timeline:before {
  content: '';
  background: #c7c7c7;
  height: 2px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
body main section.content._simulator .container div .timeline i {
  position: absolute;
  left: 0;
  top: -12px;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  box-sizing: border-box;
  background-color: #21576f;
  cursor: pointer;
}
body main section.content._simulator .container div .currency,
body main section.content._simulator .container div .month {
  min-width: 150px;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  font-family: "Lato-Bold";
  color: #21576f;
}
body main section.content._simulator .container div .currency:before {
  content: "R$";
  padding-right: 4px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
body main section.content._simulator .container div .month:after {
  content: "meses";
  padding-left: 4px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.icon {
  padding: 0px;
  position: relative;
  display: block;
  border: none;
  outline: none;
  background: url("../images/sprite.png") top left no-repeat;
}
.icon.user-icon {
  width: 13px;
  height: 16px;
  top: 8px;
  margin-right: 5px;
}
.buttons {
  background: #7abecc;
  background-image: -moz-radial-gradient(50% 100%, circle cover, #7abecc, #6ca9b7 60%);
  background-image: -webkit-radial-gradient(50% 100%, circle cover, #7abecc, #6ca9b7 60%);
  background-image: -o-radial-gradient(50% 100%, circle cover, #7abecc, #6ca9b7 60%);
  background-image: -ms-radial-gradient(50% 100%, circle cover, #7abecc, #6ca9b7 60%);
  background-image: radial-gradient(50% 100%, circle cover, #7abecc, #6ca9b7 60%);
  outline: none;
  border: 1px solid #5b8f9e;
  height: 30px;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  line-height: 30px;
  transition: background 0.4s ease-out;
  -webkit-transition: background 0.4s ease-out;
}
.buttons:hover,
.buttons.sel {
  background: #5b8f9e;
}
.buttons.buttons-link {
  height: 28px;
  display: block;
}
#table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
#table .tab-content {
  height: auto;
  width: 100%;
  /*max-height: 450px;
		min-height: 450px;*/
  overflow-x: auto;
}
#table a {
  color: inherit;
}
#table a.detail-link {
  color: #5b8f9e;
}
th {
  text-align: left;
  font-size: 1.1em;
  background-color: #eaf5f7;
  color: #5d4d3c;
}
th.hasicon {
  text-align: center;
}
tr {
  line-height: 3em;
}
th,
td {
  padding: 2px 10px;
}
tbody,
th {
  border: 1px solid #d5e7ed;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fbfbfb;
}
.sample td,
.sample th {
  max-width: 560px;
}
/*.table-large{
	width: 1805px;
}*/
.hide {
  display: none;
}
/*****************
************************* SIZES*************************/
.third {
  width: 30px;
  height: 30px;
}
.second {
  width: 20px;
  height: 20px;
}
.fleft {
  position: relative;
  float: left;
  clear: none;
  display: block;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url(pie/PIE.htc);
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sprite {
  background: url("../images/sprite.png") top left no-repeat;
}
.dialog_alert {
  width: 85px;
  height: 67px;
  background-position: -10px -10px;
}
/***************
*********************HOME e busca
*****************************************************/
form {
  position: relative;
  float: left;
  width: 100%;
}
.form-group {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
}
.form-control {
  display: block;
  float: left;
  width: 100%;
  height: 18px;
  padding: 5px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #07112c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d5e7ed;
}
.form-control.biggest {
  float: left;
  width: 90%;
  max-width: 390px;
}
.form-control.result-form {
  width: 50%;
  min-width: 155px;
  max-width: 600px;
}
form .label {
  font-size: 1.1em;
  cursor: text;
}
form .label-pre {
  position: absolute;
  left: 11px;
  top: 5px;
}
form .label-default {
  font-size: 1.2em;
}
/*******************************
          RESPONSIVE
*******************************/
@media (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .content .viewport .col-sm-1 {
    width: 100%;
  }
}
/*******************************
     					IE 9
*******************************/
/*******************************
     					IE 8
*******************************/
