/*******************************
            FORMS
*******************************/
body{
	main, article, .contents{
		form{
			font-size: 0 !important;
			label, input{ font-size: 14.5px; margin-bottom: 20px; }
			label{
				font-family: "Lato-Bold"; width: 25%; .d-inline_v-middle; line-height: 35px;
			}
			input{
				width: 75%; .d-inline_v-top; background-color: #d7d6d5; padding:0 1%; line-height: 35px; box-sizing: border-box; 
			}
			&._label-to-left{
				
			}
		}
	}
}