@charset "utf-8";
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.woff') format('woff'),
       url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Medium.woff') format('woff'),
       url('../fonts/Lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/*******************************
            GLOBAL
*******************************/
body, html, div, span, a, img, ul, li, dl, dt, dd, article, section, header, p, form, fieldset, button, input, iframe{border: none; margin: 0; padding: 0; list-style: none; position: relative; text-decoration: none; outline: none; }
header, section, footer, aside, nav, main, article, figure, a, img, span, :after, :before { display: block; }
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0; font-weight: normal;}
::-webkit-input-placeholder { color:#888888; font-weight: normal; } input:-moz-placeholder { color:#888888; font-weight: normal; } textarea:-moz-placeholder { color:#888888; font-weight: normal; }​

h1, h2, h3, h4, h5, h6{ font-family: "Lato"; font-weight: 300; }
body, input, textarea, select{ font-family: "Lato"; font-weight: normal; } 

//General Colors
@light-blue: #57c6d0;
@brown: #bd9c57;
@dark-blue: #21576f;

.max-width{
  max-width: 1140px; margin: 0 auto; 
}
.btns{
  color: #fff; text-transform: uppercase;
}
.d-inline_v-middle{ 
  display: inline-block; vertical-align: middle;
}

/*******************************
            STRUTUCTURE
*******************************/
body{
  margin: 0; padding:0; border: 0;
  *{ font-family: 'Lato'; font-weight: 300; font-style: normal; }
  main{ 
    width: 100%;
    &:before{
      content:''; background-color: @light-blue; width: 100%; height: 31px; position: absolute; left:0; top: 0;
    }
    header{
      .max-width;
      
      .top-navg{
        text-align: center;
        > nav{ 
          .d-inline_v-middle; height: 31px;
          a{ color: #fff; font-size:16.5px; line-height: 31px; font-weight: 300; text-transform: uppercase; .d-inline_v-middle; }
          &.tl-navg{
            a{ margin:0 45px; }
          }
          &.tr-navg{
            a{ 
              margin:2px 37px; text-align: center; font-size: 12px; width:24px; height: 24px; border: 2px solid #fff; border-radius: 24px; box-sizing: border-box; line-height: 20px;
              i{ margin-top: -2px; }
            }
          }
        }
      }

      .logo-info{
        font-size: 0;
        h1{ .d-inline_v-middle; padding:64px 55px; }
        .li-navg{
          .d-inline_v-middle; min-width: 173px; margin-left: calc( ~"100% - 727px" );
          .btn{
            font-size: 16.5px; .btns; text-align: center; margin: 4.5px 0; padding: 7px; box-sizing: border-box;
            &._brown{ background: @brown; }
            &._dark-blue{ background: @dark-blue; }
          }
        }
      }

      .main-navg{
        text-align: center;
        a{ 
          .d-inline_v-middle; font-size: 18px; color: @light-blue; text-transform: uppercase; letter-spacing: -0.5px; margin:0 13px; 
          &:hover{ color: @brown; } 
          &.active{ 
            color: @brown; font-weight: bold;
            &:before{ content: "•"; margin:-6px 6px 0 0; .d-inline_v-middle; } 
          }
        }
      }
    }
  }
}

@import url(import.less);














