@charset "utf-8";
@font-face {
  font-family: 'Lato-Thin';
  src: url('fonts/Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Thin.woff') format('woff'), url('fonts/Lato/Lato-Thin.ttf')  format('truetype'), url('fonts/Lato/Lato-Thin.svg#Lato-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Light.woff') format('woff'), url('fonts/Lato/Lato-Light.ttf')  format('truetype'), url('fonts/Lato/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Regular.woff') format('woff'), url('fonts/Lato/Lato-Regular.ttf')  format('truetype'), url('fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Medium.woff') format('woff'), url('fonts/Lato/Lato-Medium.ttf')  format('truetype'), url('fonts/Lato/Lato-Medium.svg#Lato-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Bold.woff') format('woff'), url('fonts/Lato/Lato-Bold.ttf')  format('truetype'), url('fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Black.woff') format('woff'), url('fonts/Lato/Lato-Black.ttf')  format('truetype'), url('fonts/Lato/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Heavy'; 
  src: url('fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),  url('fonts/Lato/Lato-Heavy.woff') format('woff'), url('fonts/Lato/Lato-Heavy.ttf')  format('truetype'), url('fonts/Lato/Lato-Heavy.svg#Lato-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*******************************
            GLOBAL
*******************************/
body, html, div, span, a, img, ul, li, dl, dt, dd, article, section, header, p, form, fieldset, button, input, iframe{border: none; margin: 0; padding: 0; list-style: none; position: relative; text-decoration: none; outline: none; }
header, section, footer, aside, nav, main, article, figure, a, img, span, :after, :before { display: block; }
h1,h2,h3,h4,h5,h6,strong{margin: 0; padding: 0; font-weight: normal;}
::-webkit-input-placeholder { color:#888888; font-weight: normal; } input:-moz-placeholder { color:#888888; font-weight: normal; } textarea:-moz-placeholder { color:#888888; font-weight: normal; }​

h1, h2, h3, h4, h5, h6{ font-family: "Lato-Light"; }
body, input, textarea, select{ font-family: "Lato-Regular"; } 

//General Colors
@light-blue: #57c6d0;
@dark-blue: #21576f;
@brown: #bd9c57;

.max-width{
  max-width: 1140px; margin: 0 auto;
}
.btns{
  color: #fff; text-transform: uppercase;
}
ul.list{
  &._bullets{
    li{ list-style-type: disc; margin-left: 25px; }
  }
}
.d-inline_v-top{ display: inline-block; vertical-align: top; }
.d-inline_v-middle{ display: inline-block; vertical-align: middle; }
.d-inline_v-bottom{ display: inline-block; vertical-align: bottom; }

.transit{ -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.btn{
  font-size: 16.5px; .btns; text-align: center; margin: 4.5px 0; padding: 7px; box-sizing: border-box;
  &._brown{ background: @brown; }
  &._dark-blue{ background: @dark-blue; }
  &._light-blue{ background: @light-blue; }
}


/*******************************
            STRUTUCTURE
*******************************/
body{
  margin: 0; padding:0; border: 0; /*background: url('../images/psd/site_resp_01_home-8-1140.jpg') no-repeat center -16px;*/
  *{ font-family: 'Lato-Regular'; } 
  main{ 
    width: 100%; /*opacity: 0.5;*/
    &:before{
      content:''; background-color: @light-blue; width: 100%; height: 35px; position: absolute; left:0; top: 0;
    }

    header{
      .max-width;
      
      .top-navg{
        text-align: center; .transit; overflow: hidden;
        > nav{ 
          .d-inline_v-middle; height: 35px;
          a{ color: #fff; font-size:16.5px; line-height: 35px; text-transform: uppercase; .d-inline_v-middle; .transit; }
          &.tl-navg{
            a{ margin:0 41px; }
          }
          &.tr-navg{
            a{ 
              margin:5px 37px; text-align: center; font-size: 12px; width:24px; height: 24px; border: 2px solid #fff; border-radius: 24px; box-sizing: border-box; line-height: 20px;
              i{ margin-top: -2px; }
            }
          }
        }
      }

      .logo-info{
        font-size: 0; .transit; 
        h1{ .d-inline_v-middle; padding:64px 55px; }
        .li-navg{
          .d-inline_v-middle; min-width: 173px; margin-left: calc( ~"100% - 727px" );
        }
      }

      .main-navg{
        text-align: center; padding: 21px 0px 38px; .transit; background: #fff;
        >a{ 
          font-size: 0; display: none;
          &.active{
            &:before{ content: "\f00d"; }
          }
          &:before{ content: "\f0c9"; font: normal normal normal 18px/1 FontAwesome; color: #fff; background-color: @light-blue; width: 35px; height: 35px; line-height: 35px; }
        }
        li{
          .d-inline_v-middle; position: relative;
          a{ 
            .transit; font-size: 16.5px; color: @light-blue; text-transform: uppercase; margin:0 13px; 
            &:hover{ color: @brown; } 
            &.active{ 
              color: @brown; font-family: 'Lato-Bold';
              &:before{ content: "•"; margin:-6px 6px 0 0; .d-inline_v-middle; } 
            }
          }
          /* First SubMenu */
          ul{
            display: none; z-index: 99; padding: 0 0 10px; background-color: #fff;
            position: absolute; left: 0; top: 0; margin-top: 15px; padding-top: 10px;
            li{
              text-align: left; width: 100%; background-color: #fff;
              a{ 
                line-height: 25px; font-size: 14px; white-space: nowrap; 
                &:hover{ padding-left:5px; }
              }
              /* Second SubMenu */
              ul{
                left:99.9%; border-left:1px solid @light-blue; margin: 0 0; padding: 0;
              }
              &:hover{
                > ul{ display: block; }
              }
            }
          }
          &:hover{
            > ul{ display: block; }
          }
        }
      }
      &.minus{
        padding-top: 290px; z-index: 9999;
        .top-navg{ display: none; }
        .logo-info{ 
          position: fixed; z-index:10; width: 100%; top: 18px; left: 8px; text-align: center; 
          h1{ 
            padding:0; 
            img{ width: 50%; height: 50%; margin: 0 auto; }
          }
          .li-navg{ 
            position: absolute; z-index: 999; right: 0; top: -4px; 
            a{
              .d-inline_v-middle; width: 35px; margin-left: 5px;
              &._brown{
                font-size: 0;
                &:before{ content: "\f234"; font: normal normal normal 18px/1 FontAwesome; }
              }
              &._dark-blue{
                font-size: 0;
                &:before{ content: "\f090"; font: normal normal normal 18px/1 FontAwesome; }
              }
            }
          }
        } 
        .main-navg{ position: fixed; z-index: 9; width: 100%; top: 0; left: 0; padding: 61px 0 21px; border-bottom: 1px solid #dfdfdf; } 
      }
    }

    section{
      &.carrossel{
        dl{
          position: relative;
          dt{ 
            position: absolute; top: 4%; z-index: 999; width: 485px; height: 485px; z-index: 1;
            &:before{
              content:''; width: 100%; height: 100%; position: absolute; z-index: 1; left:0; top: 0px; border-radius: 485px; opacity: .5;
            }
            h2{ 
              font-size: 42.8px; line-height: 42.5px; color: #fff; text-transform: uppercase;  z-index: 9; position: absolute; bottom: 76px; left: 15px; width: 540px;
              a{ 
                color: #fff;
                span{ 
                  display: inline;
                  &:after{ content:'saiba'; .d-inline_v-middle; text-transform: lowercase; color:#fff; font-size: 17.4px; margin:0 10px -10px; }
                }
                &:after{ content:'•'; .d-inline_v-middle; border:2px solid #fff; width: 12px; height:12px; border-radius:12px; font-size: 14px; line-height: 12px; text-align: center; margin: 0 -8px -12px; }
              }
              &.wrap-01{ width: 580px; }
              &.wrap-02{ width: 450px; }
              &.wrap-03{ width: 650px; }
            }
            p{
              background-color: @light-blue; font-size: 17.4px; line-height: 26px; color: #fff; z-index: 9; position: absolute; bottom: 28px; left: 15px; padding:0 8px; white-space: nowrap;
              a{ color: #fff; }
            }
          }
          &.dl-light-blue{
            dt{
              &:before{ background-color: @light-blue; }
            }
          }
          &.dl-brown{
            dt{
              &:before{ background-color: @brown; }
            }
          }
          &._right dt{ left: 50%; }
          &._left dt{ right: 50%; }
        }
        .owl-controls{
          position: absolute; bottom: 10px; z-index: 9; text-align: center; width: 100%;
          .owl-dot{
            > span{ .transit; }
          }
        }
      }
      &.content{
        &._blocks{ text-align: center; padding: 34px 0 0; }
        h3{ 
          font-size: 16.85px; text-transform: uppercase; font-family: 'Lato-Bold'; color:@brown; position: relative; display: inline; margin: 0 auto;
          &:before{ content:''; border:2px solid @brown; border-radius: 10px; width: 6px; height: 6px; display: inline-block; vertical-align: middle; margin:-3px 3px 0 }
          &:after{ content: ''; background: @brown; width: 6px; height: 2px; vertical-align: middle; margin: -3px 3px 0; position: absolute; left: -1500%; width: 1500%; z-index: 999; top: 10px; }
        }
        nav{ 
          padding:37px 0 44px; font-size:0; 
          a{
            width: 210px; .d-inline_v-middle; margin: 0 6px; padding: 11px; font-size: 20.9px; line-height: 20.9px;
          }
        }
        dl{ 
          .d-inline_v-top; position: relative; text-align: left; margin:0 16px 40px; overflow: hidden; font-size: 0; width: 355px;
          dt{
            img{ padding-bottom: 17px; }
            h4, h4 *{
              font-size: 12.2px; font-family: 'Lato-Bold'; text-transform: uppercase; color:@light-blue;
            }
          }
          dd{ 
            p, p *{
              font-size: 12px; font-family: 'Lato-Medium'; color:@dark-blue;
            }
          }
        }
        &._simulator{
          text-align: center; padding: 24px 0 0;
          .container{
            max-width: 610px; margin: 0 auto; padding:42px 0; 
            p{
              text-align: left; padding: 4px 0;
              strong{ font-size:18px; font-family: 'Lato-Bold'; color:@dark-blue; }
            }
            div{
              font-size: 0; margin: -8px 0 16px;
              .timeline{ 
                width: 440px; .d-inline_v-middle; position: relative;
                &:before{ content:''; background:#c7c7c7; height: 2px; width: 100%; .d-inline_v-middle; }
                i{ position: absolute; left: 0; top: -12px; width: 23px; height: 23px; border-radius: 23px; box-sizing: border-box; background-color: @dark-blue; cursor: pointer; }
              }
              .currency, .month{ 
                min-width: 170px; padding-left: 3px; box-sizing: border-box; .d-inline_v-middle; font-size: 30px; font-family: "Lato-Heavy"; color: @dark-blue; text-align: left;
              }
              .currency{ 
                &:before{ content: "R$"; padding-right: 4px; font-size: 21px; .d-inline_v-middle; }
              }
              .month{ 
                &:after{ content: "meses"; padding-left: 4px; font-size: 21px; .d-inline_v-middle; }
              }
              &.loan{
                i{ background-color: @light-blue; }
                .currency{ color: @light-blue; }
              }
              &.deadline{
                i{ background-color: @brown; }
                .month{ color: @brown; }
              }
              &.total{
                background-color: @brown; margin: 5px 0; line-height: 43px;
                .currency{ 
                  color: #fff; 
                  &:before{ font-size: 30px; }
                }
              }
            }
          }
        }
        &._features{
          text-align: center; padding: 14px 0 0;
          h3{ margin: 0 0 0 -15%; }
          .container{
            font-size: 0; margin: 24px 0; background-color: @light-blue; 
            > div{
              width: 50%; .d-inline_v-top; overflow: hidden; 
              &.no-bg{
                height: 100%;
                &:before{ content:''; position: relative; height: 100%; width: 0; .d-inline_v-middle; };
                text-align: right; padding-right: 30px; box-sizing: border-box; 
                img.ilustra{ position: absolute; left: 5%; top: calc(~"50% - 117px");  }
                p{ font-size: 32.4px; color:#fff; font-family: 'Lato-Light'; text-align: left; line-height: 52.7px; position: absolute; top: calc(~"50% - 78px"); right: 5%; }
              }
              &.bg{
                p{ position: absolute; font-size: 12.5px; width: 250px; font-family: 'Lato-Bold'; text-transform: uppercase; z-index: 9; color:@dark-blue; text-align: left; padding:92px 136px; }
                img{ margin:1px; max-height: 290px;  }
              }
            }
          }
        }
        &._midia{
          text-align: center; padding: 22px 0 0;
          h3{ margin: 0 0 0 -17%; }
          .container{ 
            text-align: right; margin: 18px 0; 
            iframe,video{
              /*width: 472px; */height: 265px; .d-inline_v-top; border:1px solid @light-blue;
            }
            article{
              .d-inline_v-top; width: 50%; overflow: hidden;
              dl{
                width: 100%; margin: 0 0 0 40px; padding: 0px 65px 28px 35px; box-sizing: border-box;
                &:before{ content:''; background: url("../images/sprite.png") no-repeat 0 0; width: 26px; height: 35px; position: absolute; left: 0; top: 0;  }
                dt, dt *{ font-size: 13.5px; font-family: "Lato-Bold"; color: @dark-blue; }
                dd{ font-size: 12.5px; font-family: "Lato-Regular"; color: @dark-blue; }
              }
            }
          }
        }
        &._chat{
          text-align: center; padding: 30px 0 0 55px; 
          h3{ margin: 0 0 0 -50%; }
          .container{ 
            text-align: left; .max-width; margin-top: 40px;
            dl{
              overflow: initial;
              &:before{ content: "\f041"; font: normal normal normal 18px/1 FontAwesome; color: @light-blue; position: absolute; top: -2px; left:-15px; }
              width: 300px;
              *{ font-size: 14px; }
              dt{ font-family: "Lato-Bold"; text-transform: uppercase; color: @light-blue; }
              dd{ font-family: "Lato-Medium"; color: @brown; line-height: 16.5px; }
            }
          }
        }
      }
    }
    
    /*******************************
                INTERNALS
    *******************************/
    article{
      font-size: 0; .transit; 
      h2{
        max-height: 345px; font-size: 0; background-color: @light-blue;  text-align: right; position: relative;
        span{ position: absolute; bottom: 95px; display: block; font-size: 49px; color: #21576f; text-transform: uppercase; text-align: center; text-align: right; z-index: 1; width: 100%; padding-right: 845px; padding-left: 55px; box-sizing: border-box; }
        img{ 
          .d-inline_v-top;
          &.graph{ margin: 90px -217px 0 -500%; z-index: 1; }
        }
      }
      > ul{
        font-size: 0; text-align: center; padding:60px 0 60px; 
        li{
          .d-inline_v-middle; .transit; width: 110px; height: 110px; border-radius: 110px; text-align: center; margin:16px; text-transform: uppercase; border:2px dotted @brown;
          &:before{ content:''; .d-inline_v-middle; height: 100%; }
          a{
            font-family: "Lato-Bold"; font-size: 10.8px; line-height: 15.6px; color: @dark-blue; padding: 10px; .transit; .d-inline_v-middle;
          }
          &:hover, &.active{
            a{ color: @light-blue; }
          }
        }
      }
      .contents{
        .max-width;
        *{ color: @dark-blue; font-size: 17.6px; line-height: 24.2px; }
        h3{ font-family: "Lato-Black"; font-size: 32.5px; line-height: 32.5px; }
        h4{ font-family: "Lato-Black"; font-size: 25px; line-height: 25px; }
        h5{ font-family: "Lato-Black"; font-size: 17px; line-height: 17px; }
        a{ 
          color: @light-blue; .transit;
          &:hover{ color: @brown; }
        }
        p{ 
          margin: 2.5% 0; 
          &.img{
            span{
              padding:2.5% 7.5% 2.5% 5%; 
              &:before{ content:''; border:2px solid @light-blue; border-radius: 10px; width: 6px; height: 6px; position: absolute; right: 20px; top: 50px; }
              &:after{ content: ''; background: @light-blue; width: 6px; height: 2px; position: absolute; right: 28px; width: 1500%; z-index: 1; top: 54px; }
              img{ z-index: 9; position: relative; }
            }
            &._f-left{ 
              span, em{ .d-inline_v-middle;  }
              em{ width: 40%; }
            }
            &._v-middle{
              span{
                &:before{ top: 50%; }
                &:after{ top: calc(~"50% + 4px"); }
              }
            }
            &._t-normal{
              em{ font-style: normal;  }
            }
            &:after{ content: ''; width: 100%; clear: both; }
          }
        }
        table{
          border:1px solid @light-blue; table-layout: fixed;
          * { font-weight: normal; }
          tbody{
            th{ background-color: @light-blue; color: #fff; padding:1% 2%;  } 
            td{ padding:1.5% 2%;  } 
            tr:nth-child(odd){ background-color: #f7f7f7; } 
          }
        }
        small{ font-size: 80%; }
        &._aside{
          .d-inline_v-top; width: 66%; padding-left: 10%; box-sizing: border-box; padding-right: 2.5%;

        }
        div[class^='cnt-']{ 
          display: none; 
          strong{ font-family: "Lato-Bold"; color: @light-blue; }
        }
      }
      aside{
        .d-inline_v-top; .transit; width: 28%; padding-right: 2.5%; box-sizing: border-box; padding-left: 2.5%;
        .container{ 
          text-align: left; margin: 18px 0; 
          iframe,video{
            &:extend(body main section.content._midia .container video); width: 100%;
          }
          article{
            .d-inline_v-top; overflow: hidden; padding-top: 45px;
            h4{ text-transform: uppercase; color: @brown; font-family: "Lato-Bold"; font-size: 16.8px; line-height: 40px; }
            dl{
              width: 100%; margin: 0; padding: 0 0 28px 35px; box-sizing: border-box;
              &:before{ 
                &:extend(body main section.content._midia .container article dl:before); 
                top: 2px;
              }
              dt, dt *{ 
                font-size: 17.8px; font-family: "Lato-Black"; color: @dark-blue; 
                line-height: 20.5px; 
              }
              dd{ 
                &:extend(body main section.content._midia .container article dl dd); 
                line-height: 16px; 
              }
            }
          }
        }
      }
    }

    footer{
      background-color: @brown; text-align: center;
      nav{
        a{ 
          .d-inline_v-middle; color: #fff; font-size: 11.1px; text-transform: uppercase; margin: 9px 5px; 
          &:hover{ text-decoration: underline; }
        }
      }
    }
  }
}

@import url(import.less); 














